# General
*.vagrant
.bundle
build/*
tools/chef/encrypted_data_bag_secret
tools/chef/cookbooks/*
tools/chef/tmp/*
tools/assets/*
tools/capistrano/config/secrets.rb
bin/*
.DS_Store
secret.key
.idea/*
/nbproject

# Composer
vendor
composer.phar

public/tests/
/public/sitemaps/sitemap.xml
/public/phpinfo.php

# Frontend
node_modules/
*.sass-cache/
bower_components/
*.map
public/skin/frontend/dreams/morpheus/images/preview.html
public/wordpress-cms/wp-content/uploads

*.log
wp-config.php
wp-content/advanced-cache.php
wp-content/backup-db/
wp-content/backups/
wp-content/blogs.dir/
wp-content/cache/
wp-content/upgrade/
wp-content/uploads/
wp-content/wp-cache-config.php
wp-content/plugins/hello.php

/.htaccess
/license.txt
/readme.html
/sitemap.xml
/sitemap.xml.gz
